{
    "orgId": "{{ org_id }}",
    "externalRequester": "{{ requester }}",
    "crertType": "{{ cert_type }}",
    "serverType": -1,
    "term": "{{ cert_term }}",
    "comments": "{{ cert_comments }}",
    "csr": "{{ csr_out }}",
    "sub_AltNames": "{{ sans }}",
}